{% extends "myapp/base.html" %}

{% block title %}Index{% endblock %}

{% block body %}

{% include 'myapp/status.html' %}

    {% for i in customers %}
        <tr>
            <td><a class="btn btn-sm btn-info" href="{% url 'customer' i.id %}">View</a></td>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
        </tr>
    {% endfor %}

    {% for i in issues %}
        <tr>
            <td>{{i.product}}</td>
            <td>{{i.date_created}}</td>
            <td>{{i.status}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'update_issue' i.id %}">Update</a></td>
            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_issue' i.id %}">Delete</a></td>
        </tr>
    {% endfor %}


{% endblock %}